*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

input{
    margin: 10px 0;
    padding: 10px;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button{
    margin: 20px 0;
    padding: 20px;
    cursor: pointer;
}
a{
    color: #100e0e;
}
.msg{
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
