* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://static.wixstatic.com/media/6adf48_6bc4b13da726408d9996312718cd1688~mv2.gif');
    background-size: 100% auto;
}
.labelСosmonaft{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: indigo;
    margin: -50px auto 10px auto;
}
.labelAuthorization{
    color: #7f05d9;
    margin: 10px auto;
    font-size: 20px;
}
.buttonAuthorization {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    width: 300px;
    margin: 30px auto;
    background-color: rgba(75, 0, 130, 0.7);
}
.buttonAuthorization:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.buttonAuthorization:hover {
    background: rgba(255, 255, 255, 0);
}
.buttonAuthorization:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.input {
    margin: 10px auto;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    opacity: 0.5;
    background-color: indigo;
    width: 300px;
    color: white;
}
.input:hover{
    opacity: 1.0;
}
.input::placeholder {color: white;}
.input:focus{
    color: white;
}
.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80%;
    background-color: rgba(240, 248, 255, 0.13);
    border-radius: 30px;
}
